.container-mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.area-imagem-mapa {
  margin-bottom: 0px;
}

.area-imagem-mapa img {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.area-filtro {
  width: 100%;
  max-width: 1000px;
}

.filtros-mapa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.filtros-mapa select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.campo-busca {
  margin-bottom: 20px;
}

.campo-busca input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.lista-unidades {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-unidade {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.mensagem-nenhum {
  color: #777;
}
